@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Creepster&family=Oswald&display=swap');

/* font-family: 'Calistoga', cursive;
font-family: 'Creepster', cursive;
font-family: 'Oswald', sans-serif; */

body {
    background-color: #5B4B8A;
}

.cardParent {
   display: flex;
   flex-wrap: wrap;
    gap: 15px;
}

#potatoHeader {
    text-align: center;
    font-family: 'Creepster', cursive;
    font-size: 60px;
    margin-top: 15px;
}


