@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Creepster&family=Oswald&display=swap');
/* font-family: 'Calistoga', cursive;
font-family: 'Creepster', cursive;
font-family: 'Oswald', sans-serif; */

.myForm {
    display: flex;
    flex-direction: column;
    background: rgba( 139, 154, 70, 0.8 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 3px solid rgba( 255, 255, 255, 0.18 );  
    width: 30%;
    height: fit-content;
    padding: 10px;
    margin: 15px;
}

.addTrick {
    font-family: 'Calistoga', cursive;
    margin: 0;
    text-align: center;
}

.trickName {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 8px;
}

.trickInput {
    border-radius: 10px;
    margin-left: 5px;
    margin-bottom: 8px;
}

.descrip {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 5px;
    margin-bottom: 8px;

}

.descripInput {
    border-radius: 10px;
    margin-left: 5px;
    margin-bottom: 8px;
}

.cueForm {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 5px;
    margin-bottom: 8px;
    background-color: none;
}

.cueInput {
    border-radius: 10px;
    margin-left: 5px;
    margin-bottom: 8px;
}

.diffForm {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 5px;
    margin-bottom: 8px;

}

.diffInput {
    border-radius: 10px;
    margin-left: 5px;
    margin-bottom: 8px;
}

.reForm {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 5px;
    margin-bottom: 8px;

}

.reInput {
    border-radius: 10px;
    margin-left: 5px;
    margin-bottom: 8px;
}

.repeForm {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 5px;
    margin-bottom: 8px;

}

.repeInput {
    border-radius: 10px;
    margin-left: 5px;
    margin-bottom: 8px;
}

.submitButton {
    float: right;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: -20px;
}