@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Creepster&family=Oswald&display=swap');
/* font-family: 'Calistoga', cursive;
font-family: 'Creepster', cursive;
font-family: 'Oswald', sans-serif; */

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
    background: rgba( 247, 136, 18, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border-radius: 10px;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
    width: 30%;
}

.trickName {
    text-align: center;
    margin: 2px;
    font-family: 'Calistoga', cursive;
    margin-top: 0;
}

.description {
    margin: 5px;
    text-align: center;
}

.cue {
    border: 1px;
    background-color: #BBBBBB;
    border-color: black;
    border-radius: 10px;
    margin: 6px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
}

.difficultyLevel {
    border: 1px;
    background-color: #BBBBBB;
    border-color: black;
    border-radius: 10px;
    margin: 6px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
}

.reinforcement {
    border: 1px;
    background-color: #BBBBBB;
    border-color: black;
    border-radius: 10px;
    margin: 6px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
}

.repetitions {
    border: 1px;
    background-color: #BBBBBB;
    border-color: black;
    border-radius: 10px;
    margin: 6px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    margin-bottom: 8px;
}

.cardIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.cardIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Additional styles if needed */
  }

.deleteButton {
    position: absolute;
    right: 10px;
    background-color: transparent;
    padding-left: 8px;
    font-size: 20px;
    max-width: 50px;
    border: none;
}